<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Connection Interface</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script rel='stylesheet' src="https://cdnjs.cloudflare.com/ajax/libs/strophe.js/1.2.12/strophe.js"></script>

</head>

<body>
<button id="btn">Send</button>
<button id="banBtn" value="{{ request.user.username }} + '#' + {{ request.user.xmpp_jid }}">Ban Btn</button>

<input id='username' type="hidden" value="testuser">
<input id='jid' type="hidden" value="djangodev@localhost/xmpp_server">
<input id='password' type="hidden" value="django">
<input id='group_id' type="hidden" value="5">

<form method="post" id="messageForm">
    {{ form.as_p }}
    <button id="messageButton" type="submit">Send</button>
</form>

<form method="post" id="editForm">
    {{ form.as_p }}
    <button id="editButton" type="submit">Edit</button>
</form>

<form method="post" id="deleteForm">
    {{ form.as_p }}
    <button id="deleteBtn" type="submit">Delete</button>
</form>

<script type='module' src="{% static 'js/client.js' %}"></script>
</body>
</html>