amqp==5.1.1
amqplib==1.0.2
aniso8601==7.0.0
asgiref==3.5.1
async-timeout==4.0.2
backports.zoneinfo==0.2.1
billiard==3.6.4.0
celery==5.2.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
coreapi==2.3.3
coreschema==0.0.4
cryptography==37.0.2
Deprecated==1.2.13
Django==3.2.13
django-celery-beat==2.2.0
django-cors-headers==3.12.0
django-health-check==3.16.5
django-rest-swagger==2.2.0
django-timezone-field==4.2.3
djangorestframework==3.13.1
docker==5.0.3
drf-yasg==1.20.0
gcloud==0.18.3
googleapis-common-protos==1.56.1
greenlet==1.1.2
httplib2==0.20.4
idna==3.3
inflection==0.5.1
itypes==1.2.0
Jinja2==3.1.2
jwcrypto==1.3
kombu==5.2.4
MarkupSafe==2.1.1
Naked==0.1.31
newrelic==7.10.0.175
oauth2client==4.1.3
openapi-codec==1.3.2
packaging==21.3
pika==1.2.1
promise==2.3
prompt-toolkit==3.0.29
protobuf==4.21.0rc2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pydantic==1.9.0
pymongo==4.0
pyparsing==3.0.9
python-crontab==2.6.0
python-dateutil==2.8.2
python-jwt==3.3.2
pytz==2022.1
PyYAML==6.0
redis==4.3.1
requests==2.27.1
rsa==4.8
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.6
Rx==1.6.1
shellescape==3.8.1
simplejson==3.17.6
singledispatch==3.7.0
six==1.16.0
SQLAlchemy==1.4.36
sqlparse==0.4.2
sseclient==0.0.27
stripe==3.0.0
text-unidecode==1.3
typing-extensions==4.2.0
uritemplate==4.1.1
urllib3==1.26.9
vine==5.0.0
wcwidth==0.2.5
websocket-client==1.3.2
wrapt==1.14.1
